.head {
  @apply h-fit md:grid md:grid-cols-2 py-24;
}

.grid-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-grid-1 {
  @apply h-fit w-fit items-center justify-center flex;
}

.image {
  position: relative;
}

.shadow-bg {
  box-shadow: 0px 0px 10px 5px white;
-webkit-box-shadow: 0px 0px 10px 5px white;
-moz-box-shadow: 0px 0px 10px 5px white;
}

.grid-2 {
  @apply pt-10 md:pe-20 px-5 flex flex-col justify-center;
}

.title {
  @apply font-bold text-4xl text-center md:text-start;
}

.line-2 {
  @apply h-1 my-4 bg-[#e7e7e7];
}

.paragraf {
  text-align: justify;
}

.paragraf p {
  padding-bottom: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: darkgray;
}
