.card {
  box-shadow: 0 0 6px 6px #e7e7e7;
-webkit-box-shadow: 0 0 6px 6px #e7e7e7;
-moz-box-shadow: 0 0 6px 6px #e7e7e7;
}

h2 {
  color: #e7e7e7;
}

form div input, form div textarea {
  background-color: #0e0e0e;
}

form div input, form div textarea {
  color: #e7e7e7;
}

form div input:focus, form div textarea:focus {
  border: 1px solid #e7e7e7;
}

form div button {
  border: 1px solid #e7e7e7;
  color: #e7e7e7;
  width: 100%;
}

form div button:hover {
  background-color:#e7e7e7;
  transition: .3s;
  color: black;
}

.contact .contactList {
  display: flex;
  justify-content: space-between;
}

.contact .contactList a {
  color: #e7e7e7;
  padding: 10px;
  margin: 20px 20px 0 20px;
  border: 1px solid darkgray;
  border-radius: 9999px;
}

.contact .contactList a:hover {
  color:black;
  background-color: white;
}

/* Responsive Breakpoint */
@media screen and (max-width: 576px) {
  .contact .contactList {
    bottom: 0;
    left: 25%;
    right: 25%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background:none;
    backdrop-filter: unset;
  }
}