@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#0e0e0e] text-[#e7e7e7]
}

.shape-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.shape-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 140px;
}

.shape-top .shape-fill {
  fill: #212121;
}