/* Responsive Breakpoint */
/* Screen Laptop */
@media screen and (max-width: 1024px) {
  section div div h1 {
    margin-left: 20px;
    margin-top: 20px;
  }
}

/* Screen Tablet */
@media screen and (max-width: 768px) {
  section div div h1 {
    margin-left: 20px;
    margin-top: 20px;
  }
}

/* Screen Mobile */
@media screen and (max-width: 576px) {
  section div div h1 {
    margin-left: 20px;
    margin-top: 20px;
  }
}